*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

#app-header{
    background-image: url(/assets/img/jumbo.png);
    background-size: cover;

}

.container {
    margin: auto;
    width: 70%;
    padding: 2rem;
    max-width: 1140px;
}

.flex{
    display: flex;
}


.logo {
    flex-grow: 6;
    
}

.title-speak {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.p-space {
    color: white;
    font-size: 25px;
    text-align: center;
          
}

nav {
    flex-grow: 2;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 15px;
}

.login {
    flex-grow: 2;

}

.sign-in {
    background-color: white;
    border-radius: 15px;
    height: 25px;
    width: 60px;
    border: none;
}

.btn-discord{
    margin-left: 300px;
    margin-top: 25px;
}

.btn-mac {
    background-color: white;
    height: 44px;
    width: 145px;
    border-radius: 26px;
    text-align: center;
    border: none;

}

.btn-broswer {
    background-color: black;
    color: white;
    height: 44px;
    width: 210px;
    border-radius: 26px;
    text-align: center;
    border: none;
}

.image-row img {
    width: 500px;
    
}




.column {
   padding: 2rem

}

.col {

    margin-left: 300px;
    margin-right: 300px;
    height: 400px;;
    display: flex;
}



.row-text {
    width: 60%;
    height: 400px;

}

.text-page{
    padding-top: 45px;
    text-align: inherit;
}

.title-page{
    font-size: 20px;
}

.p-page{
    font-size: 12px;
}

.easy-meetings{
    background-color: #f6f6f6;
}


.big-col {
    width: 100%;
    text-align: center;
}

.image-row{
    margin-left: 200px;
}

.section-col{
    background-color: #f6f6f6; 
}

.section-col::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-ready{
    text-align: center;
}

.btn-down-mac{
    margin-left: 430px;
    padding-top: 40px;
}


.services{
    color: #5b6da9;
}

ul li {
    color: white;
    list-style: none;
    padding-top: 15px;
}



.btn-download{
    background-color: #8ea1e1;
    color: white;
    height: 44px;
    width: 145px;
    border-radius: 26px;
    text-align: center;
    border: none;
}

.talk-place{
    font-size: 25px;
    color: #5b6da9;
}

.logo-ita {
    width: 30px;
    padding-top: 30px;
}

.nation{
    color: white;
    font-size: 10px;
}










.section-footer{
    background-color: #23272a;
}

.top {

    height: 400px;
    
}

.talk{
    width: 35%;
}

.item{
    width: calc(100% /4);
   

}



.height{
    height: 50px;

}

.justify-space-between {
    justify-content: space-between;
}

.bg-aquamarine {
    
}

.full-width {
    width: 100%;
}

.image-footer{
    width: 20%;

}

.button-register {
    width: 20%;
    background-color:#8ea1e1;
    height: 44px;
    width: 145px;
    border-radius: 26px;
    text-align: center;
    border: none;
    color: white;

}